body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  -webkit-app-region: drag;
  -webkit-user-select: none;

  --bs-body-bg: #1f2225;
}

.welcome-div {
  background-color: rgba(24, 24, 32, 0.425);
  border-left: 15px solid rgb(48, 60, 68);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: auto;
}
.welcome {
  color: rgb(185, 185, 185);
}

.info {
  top: 300px;
  color: rgb(185, 185, 185);
  width: 500px;
  margin-right: auto;
}

.cont-field {
  position: absolute;
  background-color: #272b30;
  top: 100px;
  margin-right: auto;
  padding-bottom: 2%;
  border: 2px solid rgba(39, 75, 39, 0.507);
  border-radius: 20px;
  box-shadow: 5px 5px rgba(13, 13, 17, 0.514);
}
